.root_div{
    opacity: 0.8;
    border: 1px solid transparent;
    font-size:16px;
    width: auto;
    height: auto;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sub_div{
    margin-top: 10%;
    margin-bottom: 10%;
}

.horizontal_centered {    
    margin-top:auto;
    margin-bottom:auto;
    text-align:center;
}


.custom_button {
    align-items: center;
    justify-content: center;
    border-radius:10px;
    border-width: 0px;
    cursor:pointer;
	font-size:16px;
	padding:10px 15px;
}

.custom_button:active {
	position:relative;
	top:1px;
}


h1,h2{
    text-align: center;
}



.custom_input_heading{
    font-size: 16px;
}

.custom_input{
    width: 100%;
    border: 1p0x solid transparent;
    padding: 3px;
    font-size: 16px;
}

.custom_input:focus {
    outline:none;
}


.container{  
    margin-left:10%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 10%;
}

.textarea_no_resizable{
    width: 90%;
    height: 300px;
    resize: none; 
}





.floating_button {
    border-radius:50%;
    cursor:pointer;
	font-size:16px;
	padding: 10px 10px;
    border: none; 
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    text-align: center
}

.floating_button:active {
	position:relative;
	top:1px;
}

.footer {
    position:fixed;
    right:3%;
    bottom:5%;
}