/*
    Canvas UI
*/
.font_ {
    color: white;
    font-size: 26;
    font-family: Arial, Helvetica, sans-serif;
}

.board {
    color: #1E1E1E;
}

.background_ {
    color: #1E1E1F;
}

.background_preview {
    color: #38383a;
}

/*
    Wall and ground Blocks
*/
.blockID254 {
    color: blue;
}

.blockID255 {
    color: red;
}


/*
    1 - 7 Are classic tetrominos
*/
.blockID1 {
    color: #568CA1;
}

.blockID2 {
    color: #DCDC8B;
}

.blockID3 {
    color: #AC4B1E;
}

.blockID4 {
    color: #25309b;
}

.blockID5 {
    color: #E44F26;
}

.blockID6 {
    color: #C09553;
}

.blockID7 {
    color: #69135e;
}

/*
    Everything above 7 are custom tetrominos
*/

.blockID8 {
    color: brown;
}

.blockID9 {
    color: #4EC990;
}

.blockID10 {
    color: #063970;
}

.blockID11 {
    color: #873e23;
}

