/*
    Canvas UI
*/
.game_font_ {
    color: white;
    font-size: 26;
    font-family: Arial, Helvetica, sans-serif;
}

.game_board {
    color: #1C3178;
}

.game_background_ {
    color: #1C3178;
}

.game_background_preview {
    color: #38383a;
}

/*
    Wall and ground Blocks
*/
.game_blockID254 {
    color: brown;
}

.game_blockID255 {
    color: #4EC990;
}


/*
    1 - 7 Are classic tetrominos
*/
.game_blockID1 {
    color: #568CA1;
}

.game_blockID2 {
    color: #DCDC8B;
}

.game_blockID3 {
    color: #AC4B1E;
}

.game_blockID4 {
    color: #25309b;
}

.game_blockID5 {
    color: #E44F26;
}

.game_blockID6 {
    color: #C09553;
}

.game_blockID7 {
    color: #69135e;
}

/*
    Everything above 7 are custom tetrominos
*/

.game_blockID8 {
    color: brown;
}

.game_blockID9 {
    color: #4EC990;
}

.game_blockID10 {
    color: #063970;
}

.game_blockID11 {
    color: #873e23;
}

