.parent_div_centered{
    background-color: #E0E0F8;
    border: 1px solid #333;
    font-size:20px;
    width: 500px;
    height: 500px;

    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    border-radius: 10%;
    box-shadow: 0 0 5px 5px #1C1C1C;
}

.child_div_centered{
    font-family:'Helvetica';
    /* Center vertically and horizontally */
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.buttons{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
}

.center_box{
    position: fixed; 
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.round_corner_container{
    
    font-family:'Helvetica'; 
    font-size:20px;
    background-color: #E0E0F8;
    margin: 10px;
    box-shadow: 0 0 0px 0px #1C1C1C;
    padding: 10%;
    border: 1px solid #333;
    border-radius: 20%;
    height: 50px;
 }